# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.svelte]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.ts]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true